/sinekarta-ds-patched-amp/target
/sinekarta-ds-patched-share-amp/target
/sinekarta-ds-patched-common/target
/sinekarta-ds-patched-share/.settings
/sinekarta-ds-patched-share/.classpath
/sinekarta-ds-patched-share/.project
